BaseEngine/ManagedScripts/obj/ManagedScripts.csproj.nuget.dgspec.json
BaseEngine/ManagedScripts/obj/ManagedScripts.csproj.nuget.g.props
BaseEngine/ManagedScripts/obj/project.assets.json
BaseEngine/ManagedScripts/obj/project.nuget.cache
